pyobjc-framework-MetalKit==11.0
pyobjc-framework-LocalAuthentication==11.0
readabilipy==0.3.0
shellingham==1.5.4
pyobjc-framework-FileProvider==11.0
vector-quantize-pytorch==1.21.9
opencv-python-headless==4.11.0.86
arrow==1.3.0
pytest==8.3.5
shapely==2.0.7
async-lru==2.0.4
wasmtime==31.0.0
coloredlogs==15.0.1
google-auth==2.39.0
uri-template==1.3.0
humanfriendly==10.0
hidapi==0.14.0.post4
rfc3339-validator==0.1.4
pydantic_core==2.33.2
pyobjc-framework-NetworkExtension==11.0
pexpect==4.9.0
mathlibtools==1.3.2
absl-py==2.1.0
Pygments==2.19.1
pyobjc-framework-SafariServices==11.0
fire==0.7.0
pandas==2.2.3
dm_control==1.0.31
lazy_loader==0.4
numpy==2.2.6
pydot==3.0.4
setuptools==80.4.0
tomli==2.2.1
msgspec==0.19.0
partial-json-parser==0.2.1.1.post5
pyobjc-framework-Symbols==11.0
pyobjc-framework-DictionaryServices==11.0
plyvel==1.5.1
pip==25.2
fqdn==1.5.1
llvmlite==0.44.0
pyobjc-framework-CoreLocation==11.0
standard-sunau==3.13.0
idna==3.10
babel==2.17.0
pyobjc-framework-SystemExtensions==11.0
benchmarl==1.5.0
traitlets==5.14.3
jaraco.text==4.0.0
zstandard==0.23.0
pydub==0.25.1
nest-asyncio==1.6.0
jax==0.5.2
nes_py==8.2.1
Markdown==3.7
kiwisolver==1.4.8
pyobjc-framework-MapKit==11.0
pyobjc-framework-AppleScriptObjC==11.0
gymnasium==1.1.1
pyobjc-framework-CFNetwork==11.0
transforms3d==0.4.2
tifffile==2025.2.18
multidict==6.1.0
ptyprocess==0.7.0
sounddevice==0.5.0
keyboard==0.13.5
perceiver-pytorch==0.8.8
prometheus_client==0.21.1
isoduration==20.11.0
pillow==11.1.0
pyobjc-framework-AdServices==11.0
pyobjc-framework-Network==11.0
sdist==0.0.0
nltk==3.9.1
pyobjc-framework-WebKit==11.0
pyobjc==11.0
pybind11==2.13.6
pyzmq==26.2.1
pyobjc-framework-DVDPlayback==11.0
zope.interface==7.2
mistral_common==1.5.3
pyobjc-framework-AppTrackingTransparency==11.0
pyttsx3==2.98
PyQt6-NetworkAuth==6.9.0
boltons==25.0.0
PyQt5_sip==12.17.0
toml==0.10.2
griffe==1.6.0
pyobjc-framework-AVRouting==11.0
tensordict==0.8.2
pyobjc-framework-Automator==11.0
ollama==0.4.7
pyobjc-framework-ModelIO==11.0
pynput==1.8.1
gym-pybullet-drones==2.0.0
overrides==7.7.0
mjrl==1.0.0
PyQtDataVisualization==5.15.6
pyobjc-framework-SceneKit==11.0
parso==0.8.4
importlib_metadata==8.6.1
webencodings==0.5.1
pyobjc-framework-Security==11.0
colorama==0.4.6
pyobjc-framework-CloudKit==11.0
uvicorn==0.34.0
pyobjc-framework-GameplayKit==11.0
tokenizers==0.21.0
pyobjc-framework-SecurityFoundation==11.0
tinycss2==1.4.0
audioop-lts==0.2.1
pyobjc-framework-MetricKit==11.0
fasteners==0.19
opentelemetry-exporter-otlp-proto-common==1.32.1
pyobjc-framework-CoreSpotlight==11.0
zipp==3.21.0
standard-chunk==3.13.0
claude==0.4.11
PyQt5==5.15.11
ale-py==0.11.1
cohere==5.15.0
pyfluidsynth==1.3.4
pettingzoo==1.24.3
pyobjc-framework-Cocoa==11.0
pyobjc-framework-MediaAccessibility==11.0
PyNaCl==1.5.0
pyobjc-framework-CoreHaptics==11.0
msgpack==1.1.0
cmdstanpy==1.2.5
ftfy==6.3.1
PyQtChart==5.15.7
inputimeout==1.0.4
PyAudio==0.2.14
google-cloud-core==2.4.3
opt_einsum==3.4.0
python-json-logger==3.2.1
mlx-lm==0.21.5
defusedxml==0.7.1
mujoco==3.3.2
moshi_mlx==0.2.6
pyobjc-framework-ScriptingBridge==11.0
atomicwrites==1.4.1
scope==0.6.3
Box2D==2.3.10
ffcv==1.0.2
requests==2.32.3
frozenlist==1.5.0
imghdr-lts==1.0.0
pyobjc-framework-IOBluetooth==11.0
logfire==3.14.0
pyobjc-framework-QuickLookThumbnailing==11.0
pyobjc-framework-SharedWithYouCore==11.0
pyobjc-framework-Carbon==11.0
attrs==25.3.0
dnspython==2.7.0
opentelemetry-instrumentation==0.53b1
httpx-sse==0.4.0
pyobjc-framework-Virtualization==11.0
python-dotenv==1.1.1
pyobjc-framework-ExternalAccessory==11.0
pyobjc-framework-EventKit==11.0
configparser==7.1.0
mypy==1.15.0
dreamer==3.3.1
mlx==0.24.2
pyobjc-framework-ServiceManagement==11.0
pyobjc-framework-LaunchServices==11.0
blinker==1.9.0
pyobjc-framework-GameCenter==11.0
pyobjc-framework-HealthKit==11.0
pyobjc-framework-ScreenSaver==11.0
soupsieve==2.6
ruamel.yaml.clib==0.2.12
ninja==1.11.1.3
tensorstore==0.1.72
torchaudio==2.6.0
markdown-it-py==3.0.0
glfw==2.8.0
pymunk==7.1.0
pyobjc-framework-CryptoTokenKit==11.0
pyobjc-framework-Accessibility==11.0
seaborn==0.13.2
mypy-extensions==1.0.0
pyobjc-framework-ExtensionKit==11.0
Farama-Notifications==0.0.4
h11==0.14.0
GitPython==3.1.44
opentelemetry-semantic-conventions==0.53b1
qwen-omni-utils==0.0.3
networkx==3.4.2
pyobjc-framework-MediaLibrary==11.0
mcp-server-fetch==2025.1.17
pyobjc-framework-CoreMIDI==11.0
pyobjc-framework-UserNotifications==11.0
pyobjc-framework-PHASE==11.0
pyobjc-framework-AppleScriptKit==11.0
python-pptx==1.0.2
openai==1.75.0
jupyter-console==6.6.3
jedi==0.19.2
emoji==2.14.0
optax==0.2.4
opentelemetry-exporter-otlp-proto-http==1.32.1
pyobjc-framework-PencilKit==11.0
irl-maxent==0.1.0
argcomplete==3.6.2
kagglehub==0.3.10
joblib==1.4.2
hyperlink==21.0.0
pyobjc-framework-Cinematic==11.0
pyobjc-framework-CalendarStore==11.0
pyobjc-framework-BrowserEngineKit==11.0
einx==0.3.0
pyobjc-framework-CoreML==11.0
Unidecode==1.3.8
PyQtPurchasing==5.15.6
mistralai==1.7.0
inflect==7.5.0
googleapis-common-protos==1.70.0
itsdangerous==2.2.0
embodied==2.0.0
jupyter==1.1.1
PySocks==1.7.1
numba==0.61.2
tiktoken==0.9.0
pyobjc-framework-ExecutionPolicy==11.0
humanize==4.12.1
treescope==0.1.9
ruamel.yaml==0.18.14
jupyter_client==8.6.3
pyobjc-framework-OpenDirectory==11.0
iniconfig==2.0.0
pyobjc-framework-PassKit==11.0
beautifulsoup4==4.13.3
rich==13.9.4
SQLAlchemy==2.0.38
asttokens==3.0.0
pyobjc-framework-libxpc==11.0
sentry-sdk==2.22.0
pyobjc-framework-Metal==11.0
pymusixmatch==0.1.4
google-resumable-media==2.7.2
tqdm==4.67.1
jaraco.context==6.0.1
urllib3==2.3.0
scikit-learn==1.6.1
stable_baselines3==2.6.0
jupyterlab_widgets==3.0.13
pandocfilters==1.5.1
PyOpenGL==3.1.9
fastjsonschema==2.21.1
ml_collections==1.0.0
pyobjc-framework-DiscRecording==11.0
exceptiongroup==1.2.2
Authlib==1.6.0
pyobjc-framework-PreferencePanes==11.0
jsonpatch==1.33
click==8.1.8
typing-inspection==0.4.0
fastapi==0.115.11
jsonpointer==3.0.0
ipython_pygments_lexers==1.1.1
appnope==0.1.4
pyobjc-framework-CoreText==11.0
pyobjc-framework-Vision==11.0
uv==0.6.4
pyobjc-framework-Quartz==11.0
lxml==5.3.1
pyobjc-framework-MetalFX==11.0
ctrader_open_api==0.9.2
stanza==1.10.1
pyobjc-framework-NotificationCenter==11.0
jupyter_server==2.15.0
pyobjc-framework-IOBluetoothUI==11.0
brax==0.12.1
pyobjc-framework-PushKit==11.0
munkres==1.1.4
certifi==2025.1.31
TBB==0.2
Django==5.1.6
markdownify==1.1.0
RealTimeTTS==0.1.3
decorator==5.2.1
anthropic==0.49.0
h2==4.2.0
granular==0.21.0
pyobjc-framework-MediaToolbox==11.0
pyobjc-framework-ContactsUI==11.0
pyobjc-framework-CoreMotion==11.0
fastrlock==0.8.3
cffi==1.17.1
pyobjc-framework-GameController==11.0
ray==2.48.0
assertpy==1.1
jsonschema==4.23.0
mink==0.0.11
pyobjc-framework-SharedWithYou==11.0
panda_gym==3.0.8
executing==2.2.0
PyQt6==6.9.1
pyobjc-framework-CoreServices==11.0
pyobjc-framework-ExceptionHandling==11.0
nbformat==5.10.4
moviepy==2.2.1
librosa==0.11.0
botocore==1.37.35
pyasn1==0.6.1
jaxtyping==0.3.2
pyobjc-framework-KernelManagement==11.0
stack-data==0.6.3
huggingface-hub==0.28.1
argon2-cffi==23.1.0
tensorboard==2.19.0
PySide6==6.8.2.1
torchrl==0.8.0
debugpy==1.8.13
Twisted==24.3.0
pyobjc-framework-PhotosUI==11.0
box2d-py==2.3.5
timm==1.0.15
pyobjc-framework-VideoToolbox==11.0
PyJWT==2.10.1
asgiref==3.8.1
threadpoolctl==3.5.0
pyobjc-framework-IOSurface==11.0
etils==1.12.0
pyobjc-framework-SystemConfiguration==11.0
pyobjc-framework-DiscRecordingUI==11.0
multiprocess==0.70.16
pyobjc-framework-UserNotificationsUI==11.0
pyobjc-framework-IntentsUI==11.0
constantly==23.10.4
Werkzeug==3.1.3
starlette==0.46.0
sse-starlette==2.2.1
pyobjc-framework-MultipeerConnectivity==11.0
av==13.1.0
jupyter_core==5.7.2
types-requests==2.32.0.20250306
xxhash==3.5.0
dm-tree==0.1.9
nbconvert==7.16.6
PyQt6-DataVisualization==6.9.0
referencing==0.36.2
skrl==1.4.3
jmespath==1.0.1
numpngw==0.1.4
gym-notices==0.0.8
pyobjc-framework-CoreData==11.0
pyobjc-framework-SafetyKit==11.0
google-cloud-storage==3.1.0
pytorch-pfn-extras==0.8.1
regex==2024.11.6
propcache==0.3.0
pyobjc-framework-LatentSemanticMapping==11.0
orbax-checkpoint==0.11.6
Send2Trash==1.8.3
pyobjc-framework-ScreenTime==11.0
fsspec==2024.12.0
pyobjc-framework-MetalPerformanceShaders==11.0
accelerate==1.4.0
jupyter-lsp==2.2.5
anyio==4.8.0
portal==3.7.3
google-crc32c==1.7.1
pyobjc-framework-MLCompute==11.0
pyobjc-framework-ShazamKit==11.0
nbclient==0.10.2
gitdb==4.0.12
Deprecated==1.2.18
twitchAPI==4.4.0
sniffio==1.3.1
simplejson==3.20.1
rustymimi==0.4.1
trimesh==4.6.4
grpcio==1.70.0
psutil==7.0.0
torchinfo==1.8.0
rsa==4.9.1
pyobjc-framework-ApplicationServices==11.0
pydantic-settings==2.8.1
pdflatex==0.1.3
jsonschema-specifications==2024.10.1
daqp==0.7.1
Protego==0.4.0
diffusers==0.32.2
pyobjc-framework-OSLog==11.0
pyobjc-framework-Social==11.0
mdurl==0.1.2
standard-aifc==3.13.0
fonttools==4.56.0
fastavro==1.10.0
mediapy==1.2.4
pyobjc-framework-SpriteKit==11.0
python-dateutil==2.9.0.post0
holidays==0.74
mpmath==1.3.0
qpsolvers==4.7.0
pyobjc-framework-CoreMediaIO==11.0
jupyterlab_pygments==0.3.0
build==1.2.2.post1
jupyterlab==4.3.5
pyobjc-framework-FSEvents==11.0
PyQt6-Charts==6.9.0
yarl==1.18.3
gunicorn==23.0.0
charset-normalizer==3.4.1
vocos==0.1.0
pyobjc-framework-SensitiveContentAnalysis==11.0
Cython==0.29.37
pyobjc-framework-MediaExtension==11.0
wcwidth==0.2.13
torchtext==0.6.0
packaging==24.2
pyobjc-framework-SyncServices==11.0
widgetsnbextension==4.0.13
pyobjc-framework-Collaboration==11.0
notebook==7.3.2
torch==2.6.0
wandb==0.19.8
gmpy2==2.2.1
termcolor==2.5.0
mido==1.3.3
pyobjc-framework-CoreAudio==11.0
elevenlabs==1.52.0
pyobjc-framework-Intents==11.0
tinyscaler==1.2.8
pyobjc-framework-ReplayKit==11.0
antlr4-python3-runtime==4.9.3
pyobjc-framework-BackgroundAssets==11.0
pyobjc-framework-FinderSync==11.0
jupyter-events==0.12.0
scipy==1.15.2
html5lib==1.1
json5==0.10.0
easydict==1.13
unicodedata2==16.0.0
pyobjc-framework-FileProviderUI==11.0
setproctitle==1.3.5
braceexpand==0.1.7
prophet==1.1.7
colored-traceback==0.4.2
tzdata==2025.1
pytinyrenderer==0.0.14
pyobjc-framework-DeviceCheck==11.0
pyobjc-framework-DeviceDiscoveryExtension==11.0
pycosat==0.6.6
toolz==1.0.0
pyobjc-framework-Accounts==11.0
pyobjc-framework-CoreBluetooth==11.0
incremental==24.7.2
openai-agents==0.0.3
pyobjc-framework-LocalAuthenticationEmbeddedUI==11.0
Brotli==1.1.0
jaxlib==0.5.1
easyocr==1.7.2
jupyterlab_server==2.27.3
pyobjc-framework-MediaPlayer==11.0
imageio-ffmpeg==0.6.0
webcolors==24.11.1
httpcore==1.0.7
pyobjc-framework-CallKit==11.0
pyobjc-framework-ImageCaptureCore==11.0
trl==0.16.1
tensorboardX==2.6.2.2
Flask-SQLAlchemy==3.1.1
pycparser==2.22
cycler==0.12.1
imgcat==0.6.0
pyobjc-framework-Photos==11.0
ipywidgets==8.1.5
mysql-connector-python==9.3.0
jaraco.functools==4.1.0
Jinja2==3.1.6
pyobjc-framework-MailKit==11.0
wheel==0.45.1
opentelemetry-proto==1.32.1
mcp==1.10.1
opencv-python==4.11.0.86
pyobjc-framework-InstantMessage==11.0
pluggy==1.5.0
pyobjc-framework-UniformTypeIdentifiers==11.0
soundfile==0.13.1
pyobjc-framework-SoundAnalysis==11.0
torchvision==0.21.0
pyarrow==19.0.1
pooch==1.8.2
python-multipart==0.0.20
pyobjc-framework-AddressBook==11.0
mujoco-py==2.1.2.14
PyGithub==2.6.1
mujoco-mjx==3.3.0
PySide6_Essentials==6.8.2.1
dill==0.3.8
google-api-core==2.25.1
pyobjc-framework-BusinessChat==11.0
comm==0.2.2
SuperSuit==3.10.0
pygame==2.6.1
pyobjc-framework-InputMethodKit==11.0
opentelemetry-api==1.32.1
stanio==0.5.1
pyobjc-framework-ScreenCaptureKit==11.0
enum-tools==0.12.0
pyobjc-framework-LinkPresentation==11.0
encodec==0.1.1
fastargs==1.2.0
imageio==2.37.0
latest==0.6.0
pure_eval==0.2.3
pydantic==2.11.7
tornado==6.4.2
pyobjc-framework-AutomaticAssessmentConfiguration==11.0
pytest-asyncio==0.26.0
distro==1.9.0
azure-cognitiveservices-speech==1.42.0
Automat==25.4.16
cloudpickle==3.1.1
h5py==3.13.0
datasets==3.3.2
vmas==1.5.0
s3transfer==0.11.4
pyparsing==3.2.1
pyobjc-framework-StoreKit==11.0
jiter==0.8.2
PyVirtualDisplay==3.0
pyobjc-framework-SearchKit==11.0
pyobjc-framework-CoreMedia==11.0
pyobjc-framework-MetalPerformanceShadersGraph==11.0
PyQtWebEngine==5.15.7
docker-pycreds==0.4.0
torchmetrics==1.6.2
pyobjc-framework-Speech==11.0
pyobjc-framework-ClassKit==11.0
flax==0.10.4
rfc3986-validator==0.1.1
dotenv==0.9.9
pyobjc-framework-iTunesLibrary==11.0
PyQt6-WebEngine==6.9.0
terminado==0.18.1
websockets==15.0.1
pyobjc-framework-DiskArbitration==11.0
sphn==0.1.12
contourpy==1.3.1
wrapt==1.17.2
pyobjc-framework-OSAKit==11.0
watchfiles==1.1.0
httptools==0.6.4
Flask==3.1.0
jaxopt==0.8.3
sympy==1.13.1
argon2-cffi-bindings==21.2.0
bs4==0.0.2
macromax==0.2.2
simpleaudio==1.0.4
einops==0.8.1
aiosignal==1.3.2
typing_extensions==4.12.2
protobuf==3.20.1
PyYAML==6.0.2
httpx==0.28.1
matplotlib-inline==0.1.7
lightning-utilities==0.13.1
flask-cors==5.0.1
smmap==5.0.2
sentencepiece==0.2.0
pybase16384==0.3.8
misaki==0.7.4
pyobjc-framework-CoreAudioKit==11.0
PyQt3D==5.15.7
safetensors==0.5.3
ldm==0.1.3
matplotlib==3.10.1
sqlparse==0.5.3
email_validator==2.2.0
pyasn1_modules==0.4.2
gym-super-mario-bros==7.4.0
proglog==0.1.12
tensorboard-data-server==0.7.2
ipdb==0.13.13
hpack==4.1.0
mistune==3.1.2
moshi==0.2.6
orjson==3.10.18
PyQt6_sip==13.10.2
pyobjc-framework-Contacts==11.0
youtube-transcript-api==1.0.3
pydantic-ai-slim==0.1.2
meteostat==1.6.8
pyglet==1.5.21
pyobjc-framework-AuthenticationServices==11.0
PySide6_Addons==6.8.2.1
pydantic-ai==0.1.2
rpds-py==0.23.1
jupyter_server_terminals==0.5.3
pyobjc-core==11.0
elements==3.19.1
pyobjc-framework-CoreWLAN==11.0
types-python-dateutil==2.9.0.20241206
terminaltables==3.1.10
boto3==1.37.35
bleach==6.2.0
pyproject_hooks==1.2.0
prompt_toolkit==3.0.50
typer==0.15.2
aider==0.2.6
AutoROM==0.6.1
pyOpenSSL==24.1.0
pytest-split==0.10.0
ml_dtypes==0.5.1
pyobjc-framework-ColorSync==11.0
pypinyin==0.54.0
pyclipper==1.3.0.post6
typeguard==4.4.2
logfire-api==3.14.0
uvloop==0.21.0
platformdirs==4.3.6
hydra-core==1.3.2
more-itertools==10.6.0
ipykernel==6.29.5
shiboken6==6.8.2.1
pyobjc-framework-AVKit==11.0
groq==0.22.0
pyobjc-framework-libdispatch==11.0
archspec==0.2.5
cryptography==42.0.8
pyobjc-framework-NetFS==11.0
frozendict==2.4.6
gym==0.26.2
aider-install==0.1.3
pytz==2025.1
annotated-types==0.7.0
playground==0.0.4
pyobjc-framework-AudioVideoBridging==11.0
dm-env==1.6
filelock==3.17.0
pyobjc-framework-VideoSubscriberAccount==11.0
soxr==0.5.0.post1
ninjax==3.6.0
wadler_lindig==0.1.7
aiohappyeyeballs==2.5.0
opentelemetry-sdk==1.32.1
eval_type_backport==0.2.2
pyobjc-framework-GameKit==11.0
pydantic-evals==0.1.2
jsonify==0.5
transformers==4.50.2
pybullet==3.2.7
pyobjc-framework-AVFoundation==11.0
omegaconf==2.3.0
pydantic-graph==0.1.2
cachetools==5.5.2
scikit-image==0.25.2
PyQt6-3D==6.9.0
six==1.17.0
XlsxWriter==3.2.2
swig==4.3.1
hyperframe==6.1.0
PyQtNetworkAuth==5.15.6
proto-plus==1.26.1
robosuite_models==1.0.0
pyobjc-framework-NaturalLanguage==11.0
importlib_resources==6.5.2
pyobjc-framework-ThreadNetwork==11.0
AutoROM.accept-rom-license==0.6.1
pyobjc-framework-SecurityInterface==11.0
webdataset==0.2.111
pyobjc-framework-AdSupport==11.0
chex==0.1.89
ipython==9.0.1
pyobjc-framework-DataDetection==11.0
robosuite==1.5.1
aiohttp==3.11.13
fastmcp==2.10.1
audioread==3.0.1
notebook_shim==0.2.4
python-bidi==0.6.6
openapi-pydantic==0.5.1
pyobjc-framework-InstallerPlugins==11.0
websocket-client==1.8.0
MarkupSafe==3.0.2
jaraco.text==3.12.1
jaraco.collections==5.1.0
importlib_metadata==8.0.0
jaraco.functools==4.0.1
jaraco.context==5.3.0
inflect==7.3.1
autocommand==2.2.2
backports.tarfile==1.2.0
typeguard==4.3.0
packaging==24.2
wheel==0.45.1
zipp==3.19.2
tomli==2.0.1
typing_extensions==4.12.2
more-itertools==10.3.0
platformdirs==4.2.2
openvino-telemetry==2024.1.0
packaging==24.1
openvino==2025.2.0
